:host {
  display: grid;
  grid-template-columns: 15% auto 20%;
  height: 100vh;
}
app-observable-list {
  grid-column: 1;
}
app-marble-view {
  grid-column: 2;
}
ngx-json-viewer {
  grid-column: 3;
  overflow: auto;
}

::ng-deep .ngx-json-viewer {
  overflow: unset !important;
  height: unset !important;
}
