div {
  position: relative;
  list-style-type: none;
  height: 30px;
}
div app-value {
  position: absolute;
  top: 0;
}

.arrow {
  overflow: visible;
}
.line {
  stroke: black;
  stroke-width: 1;
}
.next {
  stroke: black;
  stroke-width: 1;
  fill: rgb(130, 215, 54);
}

.highlighted .next {
  stroke: orangered;
  stroke-width: 2;
  fill: rgb(255, 166, 97);
}
.error line {
  stroke: red;
  stroke-width: 2;
}

.complete line {
  stroke: black;
  stroke-width: 2;
}

.value {
  cursor: pointer;
}
