/* You can add global styles to this file, and also import other style files */
html,
body,
app-root {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ngx-json-viewer .ngx-json-viewer {
  overflow: unset !important;
  height: unset !important;
}

.ngx-json-viewer .segment-type-object > .segment-main,
.ngx-json-viewer .segment-type-array > .segment-main {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
